<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="modules/unittest/bootstrap.php"
        forceCoversAnnotation="false"
        beStrictAboutCoversAnnotation="false"
        beStrictAboutOutputDuringTests="true"
        stopOnFailure="false"
        cacheDirectory=".phpunit.cache">
    <testsuite name="default">
        <directory suffix="tests.php">modules/unittest/</directory>
    </testsuite>

    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>

    <source>
        <include>
            <directory suffix=".php">./application/classes</directory>
            <directory suffix=".php">./modules/*/classes</directory>
            <directory suffix=".php">./system/classes</directory>
        </include>
    </source>
</phpunit>
